#body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fbfbfb;
}
.header {
    filter: none !important;
    background-image: none !important;
    /* background-color: #fff !important; */
    border-top: 2px solid #0088c1;
}
.header-inner {
	margin: 20px 0px;
    text-align: center;
    /* background-color: #fff; */
    z-index: 9997 !important;
}
.logo {
    text-align: center;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 10 auto; 
}
.li {
    font-size: 13px;
    /* text-transform: uppercase; */
    color: #555;
    font-weight: 600;
}
.navbar {
	 min-height: 0px;
     margin-bottom: 0px; 
}
.nav-justified {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
a {
    color: #545557;
    text-decoration: none;
}
a:hover {
    color: #0088c1; 
}
.nav>li>a {
    padding: 6px;
}
.page-title {
	text-align: center;
    padding: 0;
    font-size: 22px;
    letter-spacing: -1px;
    display: block;
    color: #5a5a5a;
    margin: 40px 0 40px;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif;
}
.page-answer {
	text-align: center;
    padding: 0;
    font-size: 16px;
    letter-spacing: -1px;
    display: block;
    color: #5a5a5a;
    margin: 40px 0 40px;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif;
}
.page-result {
	text-align: center;
    padding: 0;
    font-size: 16px;
    display: block;
    color: #5a5a5a;
    margin: 40px 0 40px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
}
form {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.d1 {background: #fbfbfb;}
.d1 input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  color: #9E9C9C;
}
.d1 button {
  border: 1px solid #cccccc;
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 35px;
  background: #ffffff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.d1 button:before {
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}